@import "open-sans";

@import "../../node_modules/bootstrap/scss/functions";


$enable-shadows: true;
$enable-rounded: true;
$enable-gradients: false;

$body-bg: #f1f5f9;
$light: #fff;

$primary: #2263a5;
$secondary: #315272;
$info: #44ADDB;
$warning: #E0A47D;
$danger: #A84423;

$font-family-base: 'Open Sans';

$input-bg: tint-color($body-bg, 30%);
$form-check-input-width: 1.5em;

$navbar-padding-y: 1rem;

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-stretch: 75%;
}

.article {

    p {
        text-align: justify;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: -0.1px;
        margin-bottom: 1.5em;
    }

    @media (min-width: 576px) {
        .column-2 {
            column-count: 2;
            column-gap: 2em;

            .column-span-all {
                column-span: all;
            }
        }
    }
}

@import "./custom.scss";

.body-gradient {
  background-attachment: fixed;
  background:
    radial-gradient(
      circle at bottom right, shade-color($body-bg, 15%), $body-bg
    ),
  ;
}
