@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100 700;
  font-stretch: 75% 150%;
  font-display: swap;
  src: url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype-variations');
}
