<div>
  <div
    class="p-4 p-md-5 mb-4"
    :class="layout === 'layout1' ? 'rounded' : 'text-white bg-dark'"
  >
    <div class="col-md-6 px-0">
      <h1 class="display-4">{{ fake.sentence(random.randint(4, 7)).capitalize() }}</h1>
      <p class="lead my-3">{{ fake.paragraph() }}</p>
      <p class="lead mb-0">
        <a
          href="/blog-entry/random"
          class="fw-bold"
          :class="layout === 'layout1' ? '' : 'text-white'"
        >Read more</a></p>
    </div>
  </div>

  <div class="row mb-2">
    {% for i in range(random.randint(10, 15)) %}
    <div class="col-md-6">
      <div
        class="row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative"
        :class="layout === 'layout1' ? 'shadow-sm bg-white' : 'border'"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong
            class="
              d-inline-block mb-2
              text-{{ random.choice(['primary', 'success', 'info', 'warning', 'danger']) }}
            "
          >{{ fake.word().capitalize() }}</strong>
          <h3 class="mb-0">{{ fake.sentence(random.randint(2, 4)).capitalize() }}</h3>
          <div class="mb-1 text-muted">{{ random_date().strftime('%x') }}</div>
          <p class="card-text mb-auto">{{ fake.paragraph(random.randint(1, 2)) }}</p>
          <a href="/blog-entry/{{ i }}" class="stretched-link">Read More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="//picsum.photos/id/{{ random.randint(1, 512) }}/300">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
